/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

.header {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header .logo {
    font-weight: 600;
    font-size: 20px;
}

header .shop-cart-button {
    margin-left: auto;
    padding:0 25px;
    cursor: pointer;
    transition: transform 500ms ease, opacity 500ms ease;
}
header .shop-cart-button:hover {
    opacity: 0.5;
    transform: scale(1.5);}

header .shop-cart-button.active {
        color: rgba(206, 65, 65, 0.775);
    }
header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background-color: #fafafa;
    box-shadow: 9px 9px 15px -6px rgba(0,0,0,0.5);
    z-index: 1000;

}



.nav {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
    /* margin-left: auto; */
    list-style: none;
}


header ul.nav li {
    display: inline-flex;
    cursor: pointer;
    transition: opacity 500ms ease, transform 500ms ease; /* Добавлено свойство transform */
}

.nav li:hover {
    opacity: 0.5;
    transform: translateY(-2px); /* Поднимаем элемент на 5 пикселей */
}

/* .nav li.active {
    color: rgba(194, 77, 77, 0.687);
} */




header .presentation {
    margin: 50px 0;
    background: url('/public/img/hero-bg-pic.jpg') no-repeat center ;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center calc(100% - -10px);
    background-blend-mode: multiply;
    background-color: rgb(138 138 138 / 50%);
    position: relative;
}

header .presentation::after {
    content: 'Best products for your home';
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .presentation::before {
    content: 'For low price';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;

}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    position: relative;
    height: 440px;
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 6px 15px -6px rgba(0,0,0,0.5);
}

main .item img {width: 100%;
    height: 280px;
transition: transform 500ms ease;}

main .item img:hover {
    transform: scale(1.05);
}

main h2, main p {
    margin: 10px 20px;
    color: #333;
    
}


/* main h2, main p, {
    margin: 10px 20px;
    color: #333;
} */
main .price {color: rgba(12, 151, 105, 0.772);}

main .add-to-cart {position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background: #93939361;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    box-shadow: 5px 6px 15px -6px rgba(0,0,0,0.5);

}

main .add-to-cart:hover {transform: scale(1.5) translateY(-5px);}
footer {
    text-align: center;
    margin-top: 100px;
}








